* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100vh;
}

.App {
  height: 100vh;
}

a {
  text-decoration: none !important;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.sideMenuTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

table {
  background-color: #e5e5e5;
}

.ant-table-thead > tr > th {
  background-color: #e5e5e5;
}

.ant-table table {
  border-spacing: 0 10px;
}

.ant-table-tbody .ant-table-row {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #ffffff;
}
