* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.App {
  height: 100vh;
}

a {
  text-decoration: none !important;
}

.title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.sideMenuTitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.ant-space-item {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 27px;
  display: flex;
  align-items: start;
}

.ant-space-item span svg {
  color: black;
}

table {
  background-color: rgb(243, 243, 243);
}

.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  background-color: #f3f3f3;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px solid black;
}

.ant-table
  .ant-table-container
  .ant-table-content
  table
  tbody.ant-table-tbody
  .ant-table-row {
  background: #ffffff;
}

.ant-table table {
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: -10px;
}
td {
  border-style: solid none;
  padding: 10px;
}
tbody td:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.ant-table
  .ant-table-container
  .ant-table-content
  table
  tbody.ant-table-tbody
  tr {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
}

.ant-table
  .ant-table-container
  .ant-table-content
  table
  tbody.ant-table-tbody
  td {
  word-wrap: break-word;
  max-width: 150px;
}

.ant-dropdown-trigger {
  background-color: #f3f3f3;
  border: 1px solid #a3a2a2;
}

.ant-pagination.ant-table-pagination {
  display: none;
}

.formLabels {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: start;
}

#productForm div.ant-form-item.formLabels {
  margin-bottom: 10px;
}

.css-dev-only-do-not-override-10ed4xt.ant-form-item .ant-form-item-label {
  text-align: start;
}

.formInput {
  border: 1px solid #676767;
  border-radius: 6px;
  width: 271px;
  height: 34px;
}

#basic_idiomas {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px;
}

#basic_idiomas span svg {
  color: black;
  width: 11.26px;
  height: 11.38px;
}

.ant-btn-dashed {
  border: transparent;
  box-shadow: none;
}

.tableLink {
  color: black;
}
Fichas .detailsTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-right: 10px;
}

.formButton {
  width: 168.21px;
  height: 30px;
  background: #000000;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}

button span.anticon.anticon-plus {
  width: 11.26px;
  height: 11.38px;
}

button span svg {
  color: #ffffff;
  width: 11.26px;
  height: 11.38px;
}
