* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100vh;
}

.App {
  height: 100vh;
}

a {
  text-decoration: none !important;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.sideMenuTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
